################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/IsaacPickAndBan/FileContentIndex/30ad90c9-ae70-48d6-91eb-3df2be4b2f00.vsidx
