################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs
bin
.bin/
/bin
obj
/obj
.obj/
packages